body.default{
	background-color: #c6c6c6
}

#maps {
	position: relative;
	cursor: pointer;
	width: 700px;
	height: 500px;
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;

}